<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
  <section name="boxerp.client" type="Boxerp.Client.Configuration.ClientSectionHandler, Boxerp.Client"/>
</configSections>

<boxerp.client>
<bindableWidgetsPrefix prefix=""/>
<guiToolkit name="GtkSharp"/>
<logger>
<loggerType name="console" thirdPartyTool="no"/>
</logger>
</boxerp.client>
</configuration>
