<configuration>
    <system.runtime.remoting>
        <application name="server">
            <service>
					<wellknown
                    type="Boxerp.Objects.LoginObject, Objects"
										objectUri="LoginObject.soap"
										mode="Singleton"/>
					<wellknown
                    type="Boxerp.Objects.AdminObject, Objects"
										objectUri="AdminObject.soap"
										mode="Singleton"/>
	             </service>
            <channels>
                <channel ref="http" port="7777" name="BoxerpChannel">
                                    </channel>
                                                     
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>

<!--
<serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full"/>
                    </serverProviders>
                    <clientProviders>
                        <formatter ref="binary"/>
                    </clientProviders>


-->
