<configuration>
    <system.runtime.remoting>
        <application name="client">
            <client url = "http://localhost:7777">
                <wellknown
                    type="Boxerp.Objects.HistoryObject, HistoryObject"
                    url="http://localhost:7777/HistoryObject"
                />
                <wellknown
                    type="Boxerp.Objects.ConcurrencyControllerObject, ConcurrencyControllerObject"
                    url="http://localhost:7777/ConcurrencyControllerObject"
                />
                <wellknown
                    type="Boxerp.Objects.SessionsObject, SessionsObject"
                    url="http://localhost:7777/SessionsObject"
                />
            </client>


				
         </application>
    </system.runtime.remoting>
</configuration>
