<configuration>
    <system.runtime.remoting>
        <application name="server">
            <service>
                <wellknown
                    type="TestCode.Remoting.ServerObject, ServerObject"
                    objectUri="ServerObject"
                    mode="Singleton"
                />
            </service>
            <channels>
                <channel ref="http" port="9191">
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full"/>
                    </serverProviders>
                    <clientProviders>
                        <formatter ref="binary"/>
                    </clientProviders>
                </channel>
                                                     
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
