<configuration>
    <system.runtime.remoting>
        <application name="server">
            <service>
					<wellknown
                    type="Boxerp.Objects.HistoryObject, HistoryObject"
										objectUri="HistoryObject"
										mode="Singleton"
					/>
					<wellknown
                    type="Boxerp.Objects.ConcurrencyControllerObject, ConcurrencyControllerObject"
										objectUri="ConsurrencyControllerObject"
										mode="Singleton"
                />
					<wellknown
                    type="Boxerp.Objects.SessionsObject, SessionsObject"
										objectUri="SessionsObject"
										mode="Singleton"
                />
             </service>
            <channels>
                <channel ref="http" port="7777" name="BoxerpChannel">
                                    </channel>
                                                     
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>

<!--
<serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full"/>
                    </serverProviders>
                    <clientProviders>
                        <formatter ref="binary"/>
                    </clientProviders>


-->
